.limited-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.content-wrapper {
    display: flex;
}

.sidebar {
    flex: 1;
    margin-right: 1rem;
}

#content {
    flex: 3;
}

.centered {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.product-description {
    margin: 1rem;
    padding: 1rem;
    position: relative;
}

p.product-description::before {
    content: "3️⃣";
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
}

p.product-description[id] {
    background-color: rgba(255, 159, 174, 0.3);
}

div.navigation {
    margin: 1rem;
    padding: 1rem;
    position: relative;
}

div.navigation::before {
    content: "7️⃣";
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
}

div.navigation[id] {
    background-color: rgba(253, 233, 149, 0.3);
}

nav.navigation {
    margin: 1rem;
    padding: 1rem;
    position: relative;
}

nav.navigation::before {
    content: "7️⃣";
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
}

nav.navigation[id] {
    background-color: rgba(253, 233, 149, 0.3);
}

div.leave-review {
    margin: 1rem;
    padding: 1rem;
    position: relative;
}

div.leave-review::before {
    content: "5️⃣";
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
}

div.leave-review[id] {
    background-color: rgba(166, 225, 197, 0.3);
}

div.checkout {
    margin: 1rem;
    padding: 1rem;
    position: relative;
}

div.checkout::before {
    content: "4️⃣";
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
}

div.checkout[id] {
    background-color: rgba(167, 224, 246, 0.3);
}

div.back-to-products {
    margin: 1rem;
    padding: 1rem;
    position: relative;
}

div.back-to-products::before {
    content: "6️⃣";
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
}

div.back-to-products[id] {
    background-color: rgba(253, 233, 149, 0.3);
}

.product-price {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
    padding: 1rem;
    position: relative;
}

.product-price::before {
    content: "2️⃣";
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.product-price[id] {
    background-color: rgba(255, 223, 186, 0.3);
}

.product-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
    padding: 1rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.product-image::before {
    content: "1️⃣";
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.product-image[id] {
    background-color: rgba(186, 255, 201, 0.3);
}

.main-content {
    max-width: 576px;
}
